%h1 Let's Create a New Student (Eventually)

%p.greeting= "Hello, #{current_user.name}!"

%h2 Student Info
%ul
  %li
    %b Name
    = @student.name
  %li
    %b Email
    = @student.email
  %li
    %b Username
    = @student.nickname
<<<<<<< HEAD

<<<<<<< HEAD
%h2= link_to 'Log Out', logout_url
=======
%footer= link_to 'Log Out', logout_url
>>>>>>> 2a16fa4d797491261f2057a1d0c8d90d8766b994
=======
    
%h2= link_to 'Log Out', logout_url

>>>>>>> 4dc16e5ce3e121af88fe42033dbe2e527ce08dae
